<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <title>Guardian Coach</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css'%} "/>
    <link rel="stylesheet" href=" {% static 'css/bootstrap-theme.css'%} "/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.seat-charts.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt|Lobster|Bad+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Quicksand&display=swap" rel="stylesheet">

</head>
<body id="body">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="{% url 'home' %}" class="navbar-brand" id="logo">
                <img src="{% static 'images/guargianLogo.png' %}" alt="The Guardian Coach"/>
            </a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse text-center">
            {% block navbar %}
                <ul class="nav navbar-nav navbar-left" id="top-menu">
                    <li class="active"><a href="#home" class="scroll">Home</a></li>
                    <li><a href="#about" class="scroll">About us</a></li>
                    <li><a href="#destinations" class="scroll">Destinations</a></li>
                    <li><a href="#services" class="scroll">Services</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>
                </ul>
            {% endblock %}
            <ul class="nav navbar-nav navbar-right" >
                {% if user.is_authenticated %}
                    <li id="user_id">
                        <a href="javascript:{togglePrimarySideNav()}">{{user.email}}</a>
                    </li>
                {% else %}

                    <li><a href="{% url 'login' %}"  style="padding-left: 50px">Login</a></li>
                    <li><a id="user_id" href="{%  url 'signup' %}">Register</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
</section>
<div id="primarySideNav" class="sidenav collapsed" data-backdrop=''>
    <a href="javascript:{togglePrimarySideNav()}" class="closebtn">&times;</a>
    <a href="javascript:{openDetailedSideNav(0)}"><i class="fas fa-angle-left arrow"></i> My Account</a>
    <a href="javascript:{openDetailedSideNav(1)}"><i class="fas fa-angle-left arrow"></i> My reservations</a>
    <a href="javascript:{openDetailedSideNav(2)}"><i class="fas fa-angle-left arrow"></i> Change Password</a>
    <a href="javascript:{document.getElementById('logout_form').submit();}" id="logout">LOGOUT</a>
    <form id="logout_form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="hidden"/>
    </form>
</div>

{#User's details sidenav#}
<div id="profilenav" class="detailedsidenav sidenav" data-backdrop=''>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <p class="feedback-banner" id="update-profile-feedback"></p>
            <h3 class="text-center">Account Details</h3><br/>
            <form  id="update-profile-form">
                {#                {% csrf_token %}#}
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>First Name</label><br/>
                            <input Value ='{{ user.first_name }}' name="first_name"/>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Last Name Name</label><br/>
                            <input Value ='{{ user.last_name }}' name="last_name" id="last_name"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Phone Number</label><br/>
                            <input Value ='{{ user.profile.phone }}' name="phone" id="phone"/>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Email </label><br/>
                            <input Value ='{{ user.email }}' name="email" id="email"/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 ">
                        <div class="form-group">
                            <input type="button" onclick="updateProfile()" id="update" value="UPDATE" class="btn btn-warning type=form-control"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{#User Reservations sidenav#}
<div id="reservationnav" class="detailedsidenav sidenav" data-backdrop=''>
    <div class="row">
        <div class="col-lg-12" style="margin:0 10px !important;">
            {% if user_bookings %}

                <h3 class="text-center">Reservations</h3>
                <br/>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Booking Id</th>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Travelling Date</th>
                            <th>Seat(s) No.</th>
                            <th>Amount</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in user_bookings %}
                            <tr>
                                <th>{{booking.pk}}</th>
                                <th>{{ booking.route.origin }}</th>
                                <th>{{ booking.route.destination }}</th>
                                <th>{{booking.travelling_datetime}}</th>
                                <th>{{booking.customized_seats}}</th>
                                <th>{{booking.amount}}</th>
                                {% if booking.paid %}
                                    <th>Paid</th>
                                {% else %}
                                    <th>Pending payment<a class="text-center" href="javascript:{document.getElementById('pay-{{ booking.id }}').submit();}" >Pay Now</a></th>
                                {% endif %}
                            </tr>
                            <form id="pay-{{ booking.id }}" action="{% url 'summary' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="booking_id" value="{{ booking.id }}"/>
                            </form>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br/>
                <p><span style="color:orangered">Note:</span> Reservation will be discarded if payment is not received within 30 minutes</p>
            {% else %}
                <h3 class="text-center">You haven't made any reservation</h3>
            {% endif %}
        </div>
    </div>
</div>

{#Change password sidenav#}
<div id="passnav" class="detailedsidenav sidenav" data-backdrop=''>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <p class="feedback-banner" id="update-password-feedback"></p>
            <h3 >Change Password</h3><br/>
            <form id="change_password_form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" name="old_password" placeholder="Enter the current passworrd" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" id="new_password1" name="new_password1" placeholder="Type a new password" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" id="new_password2" name="new_password2" placeholder="Confirm the new password" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="button" id="update" value="SUBMIT" onclick="changePassword()" class="btn btn-danger type=form-control"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5" onclick='closePrimarySideNav()'>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            {% block homecontent %}
            {% endblock %}
        </div>
    </div>
</section>

<!--ABOUT US-->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>About Us</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>
            <div class="about-us-inner-div">
                <p>The YK Travellers is a Bus Service Company that was established in 2016 and which
                    provides travelers with genuine comfort
                    they deserve - from the time you book your ticket to the time you board the bus.
                    YK Travellers is driven by young entrepreneurs who are passionate about solving real
                    everyday problems by making simple and powerful solutions. Their idea was born in response
                    to the 2016 Hult Prize Challenge (www.hultprize.com) a global student competition for social
                    entrepreneurship, which launches students into developing scalable business models in order
                    to solve global challenges. The team is motivated by the idea of transforming inefficient transport
                    systems into a catalyst for growth and impact, in order to connect people to opportunities.
                </p>
                <p>We are located in Nairobi along Haile selassie avenue Opposite Railways</p>
            </div>
        </div>
    </div>
</section>


<!-- DESTINATIONS -->
<section id="destinations" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row" id="destinations">

            <div class="col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2>Destinations</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
                <!-- BLOG THUMB -->
                <ul>
                    <li>Nairobi </li>
                    <li>Nakuru </li>
                    <li>Eldoret </li>
                    <li>Machakos </li>
                </ul>
            </div>

            <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-6">
                <!-- BLOG THUMB -->
                <ul>
                    <li>Nyamira<br /></li>
                    <li>Busia <br /></li>
                    <li>Kitale <br /></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-center" id="coming-soon">
                <h3>Coming soon in other areas</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p id="stresspoint"><span>Note: </span>Terminal charges applies to all alighting points</p>
            </div>
        </div>
    </div>
</section>


<!-- SERVICES -->
<section id="services" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Our services</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- SERVICE THUMB -->
                <div class="media service-thumb">
                    <div class="media-object media-left">
                        <a href="#"><img src="{% static 'images/bus.jpg' %}" class="img-responsive" alt="" height="100"></a>
                    </div>
                    <div class="media-body service-info">
                        <h3><a href="#">Reservation</a></h3>
                        <p>You can have your seat(s) reserved  by sending your payment via mpesa </p>
                        <a href="{% url 'booking' %}" class="btn section-btn">Grab your seat</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- SERVICE THUMB -->
                <div class="media service-thumb">
                    <div class="media-object media-left">
                        <a href="#"><img src="{% static 'images/bus2.jpg' %}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body service-info">
                        <h3><a href="#">Renting</a></h3>
                        <p>We lease buses at affordable prices and they comes with a driver </p>
                        <a href="#" class="btn section-btn">Book a bus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Contact us</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-8 col-sm-8">

                <!-- CONTACT FORM HERE -->
                <form id="contact-form">
                    <p class="feedback-banner" id="send-message-feedback"></p>
                    {% csrf_token %}
                    <div class="col-md-6 col-sm-12">
                        <label for="sender_name">Full name</label>
                        <input type="text" class="form-control" placeholder="Your Name" id="sender_name" name="sender_name" required>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label for="sender_email">Email</label>
                        <input type="email" class="form-control" placeholder="Your Email" id="sender_email" name="sender_email" required>
                    </div>

                    <div class="col-xs-12">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" placeholder="Subject" id="subject" name="subject" required>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="6" placeholder="Message" id="message" name="message" required></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12 col-md-offset-4">
                        <input onclick="sendMessage()" type="button" class="btn btn-success btn-lg" id="send-message-btn" value="Send Message">
                    </div>

                </form>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8173395291315!2d36.821373314941!3d-1.2834620359855553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d6678064cf%3A0x956bb6f5e0ab2aac!2sMoi%20Ave%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1574252718356!5m2!1sen!2ske" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="social text-center">
                    <h4>Connect</h4>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4">
                <h3 style="color:red; font-family:'Bad Script', cursive;" >The Guardian</h3>
                <hr class="light" />
                <p>555-555-5555</p>
                <p>email.eymail.com</p>
                <p>100 Street Name</p>
                <p>City, State, 00000</p>
                <p></p>
            </div>
            <div class="col-md-4">
                <hr class="light"/>
                <h5>Our hours</h5>
                <hr class="light"/>
                <p>24 hours</p>
                <p>seven days a week</p>
                <p></p>
            </div>
            <div class="col-md-4">
                <hr class="light"/>
                <h5>Service Area</h5>
                <hr class="light"/>
                <p>City, State, 00000</p>
                <p>City, State, 00000</p>
                <p>City, State, 00000</p>
                <p>City, State, 00000</p>
            </div>
        </div>
    </div>
    <hr class="light-100" />
    <h4 id="mcopyright" class="text-center">&copy; yktravellers.co.ke
    </h4>
</footer>

{#---------------------#}
{#LOGIN MODAL#}
{#---------------------#}
<div class="modal fade" id="loginModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center" style="color:#FFFFCC">LOGIN FORM</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <p class="feedback-banner" id="login-feedback"></p>
                        <form  id="loginForm">
                            {% csrf_token %}
                            <div class="form-group-lg">
                                <label for="inputUsername">Email Address</label>
                                <input type="text" id="inputUsername" class="form-control " name="username"/></div>

                            <div class="form-group-lg">
                                <label for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" class="form-control" name="password"/>
                            </div>
                            <div class="form-group-lg">
                                <input type="hidden" value='{{ where_to }}' name="where_to"/>
                                <input onclick="login()" class="btn btn-default" id="login_button" type="button" Value="LOGIN" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#">Forgot password?</a>
                <a href="{% url 'signup' %}">Create account</a>
            </div>
        </div>
    </div>
</div>
<div class="modal loader"></div>
{#<iframe src="https://ramabot.chat/v2/link.html?id=b191a09b-245b-48a0-8c66-5a4d58e30898"  width="100%" height="600" frameBorder="0"></iframe>#}
<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.seat-charts.js' %}"></script>
{#<script src="{% static 'js/angular.min.js' %}"></script>#}

<script type="text/javascript">
    $(document).ready(function(){
        {% if view and view == 'login' %}
            $('#loginModal').modal('show');
            {% if login_message %}
                renderFeedback('{{ login_message }}','login-feedback',0);
            {% endif %}
        {% endif %}
        setTimeSelector();
    });

    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
        ajaxStop: function() { $body.removeClass("loading"); }
    });
</script>
{#<script async>#}
{#    (function(w, d) {#}
{#        w['rama-bot'] = {"id":"b191a09b-245b-48a0-8c66-5a4d58e30898"};#}
{#        const h = d.head || d.getElementsByTagName("head")[0];#}
{#        const s = d.createElement("script");#}
{#        s.setAttribute("type", "text/javascript");#}
{#        s.setAttribute("src", "https://ramabot.chat/launcher-v2.js");#}
{#        h.appendChild(s);#}
{#    })(window, document);#}
{#</script>#}
</body>

</html>