{% extends 'app/base.html' %}
{% load static %}
{% block homecontent %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/jquery.seat-charts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/booking.css' %}">
    <script src="{% static 'js/lib/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.seat-charts.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lib/angular.min.js' %}"></script>
    <script src="{% static 'js/lib/booking.js' %}"></script>
    <div id="booking_view">
        <div class="col-md-6 col-md-offset-3" id="booking-form-view">
            <div class="jumbotron" id="booking_container">
                <h3 CLASS='text-center'>BOOKING FORM</h3>
                <br/>
                <p class="feedback-banner" id="check-seats-feedback"></p>
                <form id="booking_form">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="origin" class="control-label">Origin</label>
                            <select class="form-control" name='origin' onchange="refresh_destinations()" required>
                                <Option value="">Select</Option>
                                {% for origin in origins %}
                                    <Option value="{{ origin }}">{{origin}}</Option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="destination" class="control-label">Destination</label>
                            <select class="form-control" name="destination" required>
                                <Option value="">Select</Option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="booking_date">Date</label>
                            <input type="date" min="{{min_date}}" max={{ max_date }} id='booking_date' name='booking_date' class='form-control' required/>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="booking_date">Time</label>
                            <select class="form-control" name="booking_time" required>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="button" class='btn btn-primary' id='check-seats-button' onclick="check_seats()" value="Check available seats"/>
                    </div>
                </form>
            </div>
        </div>
        <div id="seats-view" class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 seat-panel-wrapper" hidden>
            <div id="seat-map" class="seat-panel">
                <p class="feedback-banner" id="checkout-feedback"></p>
                <div class="front-indicator">Front</div>
            </div>
            <div class="booking-details">

                <div id="legend">
                    <h3>Key</h3>
                </div>
                <h3> Selected Seats (<span id="counter">0</span>):</h3>
                <ul id="selected-seats"></ul>

                Total: <b>KES<span id="total">0</span></b>

                <button onclick="check_out()" class="checkout-button">Checkout &raquo;</button>

            </div>
            <form id="summary-view-form" method="post" action="{% url 'summary' %}">
                {% csrf_token %}
                <input type="hidden" value="0" id="f-cost"/>
                <input type="hidden" value="0" id="e-cost"/>
                <input type="hidden" name="booking_id" id="booking_id"/>
            </form>
        </div>
    </div>
{% endblock %}


