{% extends 'app/base.html' %}
{% block pagecontent%}
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron" id="booking_container">
            <h3 CLASS='text-center'>BOOKING FORM</h3>
            <p style="color:red;font-size:15px">{{ booking_warning }}</p>
            <form id="booking_form" action="{% url 'booking' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="origin" class="control-label">Origin</label>
                            <select class="form-control" name='origin' id='origin'>
                                <Option>Select</Option>
                                {% for route in routes %}
                                    <Option>{{route.origin}}</Option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="destination" class="control-label">Destination</label>
                            <select class="form-control" name="destination" id='destination'>
                                <Option>Select</Option>
                                {% for route in routes %}
                                    <Option>{{route.destination}}</Option>
                                {% endfor %}

                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="booking_date">Date</label>
                            <input type="date" id='booking_date' name='booking_date' class='form-control'/>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="booking_date">Time</label>
                            <select class="form-control" name="booking_time" id='booking_time'>
                                <Option>Select</Option>
                                <Option>00:00</Option>
                                <Option>01:00</Option>
                                <Option>02:00</Option>
                                <Option>03:00</Option>
                                <Option>04:00</Option>
                                <Option>05:00</Option>
                                <Option>06:00</Option>
                                <Option>07:00</Option>
                                <Option>08:00</Option>
                                <Option>09:00</Option>
                                <Option>10:00</Option>
                                <Option>11:00</Option>
                                <Option>12:00</Option>
                                <Option>13:00</Option>
                                <Option>14:00</Option>
                                <Option>15:00</Option>
                                <Option>16:00</Option>
                                <Option>17:00</Option>
                                <Option>18:00</Option>
                                <Option>19:00</Option>
                                <Option>20:00</Option>
                                <Option>21:00</Option>
                                <Option>22:00</Option>
                                <Option>23:00</Option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class='form-group'>
                            <label for="seats" style='display:inline !important'>Number of seats</label>
                            <input type="number" class="form-control" id='seats' name='seats' style='display: inline !important; width:50%'/>

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class='btn btn-primary' id='booking_submit' value="Proceed"/>
                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}


