<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=" {% static 'css/bootstrap.css'%} "/>
        <link rel="stylesheet" href="{% static 'css/confirm-payment.css' %}" />
    </head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h4>We could not verify your payment</h4>
                <a>Retry</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class='payment-div'>
                    <h2>payment Successful</h2>
                </div>
            </div>
        </div>
    </body>
</html>
