<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %} " />
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt|Lobster|Bad+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <div class="navbar custom-navbar navbar-fixed-top">
                    <a href="{% url 'home' %}" class="navbar-brand" id="logo">The Guardian</a>
                </div>
        </div>
        </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" style="margin-top:100px"></div>
        <h4 class="payment-info">Paybill Number: <span>{{paybill}}</span></h4>
        <h4 class="payment-info">Account Number: <span>{{booking.id}}</span></h4>
        <h4 class="payment-info">Amount: <span>{{booking.amount}}</span></h4>
        <br/>
        <form method="post" action="{% url 'simulate_payment'%}">
            {% csrf_token %}
            <input type="hidden" name="account_number" value="{{ booking.id }}"/>
            <input type="hidden" name="paybill" value="{{ paybill }}"/>
            <input type="hidden" name="phone" value="{{ phone }}"/>
            <input type="hidden" name="amount" value="{{ booking.amount }}"/>
            <input type="submit" class="btn btn-info" value="I have Paid"/>
        </form>
    </div>
</div>
</body>
<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js' %}"></script>
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
<script src="{% static 'js/jquery.stellar.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</html>
