<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %} " />
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt|Lobster|Bad+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>
<body id="body">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="navbar custom-navbar navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="{% url 'home' %}" class="navbar-brand" id="logo">
                        <img src="{% static 'images/logo4.jpg' %}" alt="The Guardian Coach"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10%;">
        <div class="col-md-6 col-md-offset-3">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-success active" style="width:75%;">Completed (75%)</div>
                <p class="text-center">remaining (25%)</p>
            </div>
        </div>
        <br />

    </div>
    <h3 class="text-center">Reservation Summary</h3>
    <br/>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Travelling Date</th>
                <th>Departure Time</th>
                <th>Seat(s) No.</th>
                <th>Amount</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{booking.route.origin}}</td>
                <td>{{booking.route.destination}}</td>
                <td>{{booking.travelling_datetime|date}}</td>
                <td>{{booking.travelling_datetime|time}}</td>
                <td>{{booking.customized_seats}}</td>
                <td>Ksh {{booking.amount}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <p>Confirm Your Phone Number. Then click 'Proceed to payment' to generate payment request to your phone.
        Enter your MPESA PIN on prompt pop-up on your phone to complete the payment.</p>
    <br/>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-6">
            <form action="{% url 'lipa_na_mpesa' %}" method="post" id="payment_form">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-addon">Mpesa Number:</div>
                    <input type="text" id='mlpesa_number' name='mpesa_number' value="{{user.profile.phone}}" class="form-control" style="max-width: 200px"/>
                </div>
                <input type="hidden" name='amount' value="{{ booking.amount }}"/>
                <input type="hidden"  name="booking_id" value='{{ booking.id }}'/>
            </form>
            <br>
            <h4>Payment mode: <img src="{% static 'images/mpesa_logo.png' %}" alt="Mpesa" width="100" /></h4>
        </div>
        <div class="col-md-3">
            <h3>Amount: <span style="color:rgb(255, 87, 51);padding-left: 10px">Ksh {{ booking.amount }}</span></h3>
        </div>
        <div class="col-md-3">
            <br>
            <button class="btn btn-success btn-lg" id="pay">Proceed to payment</button>
        </div>

    </div>
</div>

</body>
<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js' %}"></script>
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'js/jquery.stellar.js' %}"></script>#}
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#pay').click(function(){
            document.getElementById('payment_form').submit();
        });
    });

</script>
</html>
